.container {
	padding-right: 0; 
	padding-left: 0; 
}

div.item{
    display: inline-block;
    width: 100%;
    height: 620px;
    overflow: hidden;
}
div.item>img{
    width: 100%;
    border: none;
    margin: 0;
    padding: 0;
}

div.middle{
    width:1000px;
    /*margin-left: 20%;*/
    margin-left: 25%;
}
div.small-block-1{
    float: left;
    width: 15%;
    margin: 10px;
}
div.small-block-2{
    float: left;
    width: 50%;
    margin: 10px;
}
div.small-block-3{
    float: left;
    width: 25%;
    margin: 10px;
}
div.apartmen-info{
    float:left;
    width:67%;
    margin: 10px;    
}
div.landlord-info{
    float:left;
    width:25%;
    margin: 10px;    
}
div.wraper{
    min-height: 180px;
}
div.price{
    margin-top: -50px;
    width: 250px;
    height: 50px;
    position: absolute;
    z-index: 999;
    opacity: 0.8;
    padding-top: 7px;
    padding-left: 5px;
}
i.glyphicon-heart{
    color:#419641;
}
i.glyphicon-envelope{
    color:#419641;
}
span.glyphicon-star-empty{
    font-size: 25px;
}
span.glyphicon-star{
    font-size: 25px;
    color:#419641;
    opacity: 0.8;
}

tr.green{
    background-color: #419641;
    opacity: 0.5;
}
.img-circle {
border: 3px solid #ddd;
}
div.map{
    padding-bottom:10px;
}


div.rating > span{
    cursor: pointer;
}

div.rat > span{
    float:left;
}

.rating-star{
    width:23px;
}