img.logo {
    width: 63px;
/*    margin-right: 15px;
    margin-bottom: 10px;
	*/
}

a.logo{
    color:white;
    float: left;
    height: 50px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
}

a.logo:hover{
    color:#eee;
    text-decoration: none;
}

a.title{
    color:#333;
	font-size: 20px;
    line-height: 20px;
}

a.title:hover{
    color:#398C39;
    text-decoration: none;
}

.main {
    padding-right: 0px!important;
}

.col-md-offset-2 {
    margin-left: 11.666667%!important;
}

.col-md-2 {
    width: 12.666667%!important;
}

.col-md-10 {
    width: 87.333333%!important;
}

.container {
	width: 100%;
}

.navbar-inverse {
	background-color: #5cb85c;
	border-color: #080808;
}

.navbar-inverse {
	background-image: -webkit-linear-gradient(top,#5cb85c 0,#419641  100%);
	background-image: -o-linear-gradient(top,#5cb85c 0,#419641 100%);
/* background-image: -webkit-gradient(linear,left top,left bottom,from(#3c3c3c),to(#222)); */
/* background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%); */
}

.navbar-inverse .navbar-brand {
	color: white;
}

.col-md-4 {
	width: 40%;
	position: fixed;
	display: block;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 1px solid #eee;
}

.col-md-5 {
	width: 58.666667%;
	position: relative;
	padding-right: 40px;
	padding-left: 40px;
	margin-left: 41%;
}


.form-control:focus {
  border-color: #5cb85c;
  outline: 0;/*
  -webkit-box-shadow: inset 0 1px 1px #5cb85c, 0 0 8px #419641;
          box-shadow: inset 0 1px 1px #5cb85c, 0 0 8px #419641;*/
}

.pic{
	width:50px;
	margin-left: 120px;
}

.slider{
	max-width:50px;
	max-height:210px;
}

.grass{
	float: right;
	width: 300px;
}

.block{
	margin-right: 8px;
	margin-bottom: 10px;
	float:left;
	width: 32.3333%;
	height: 300px;
    border: 1px solid #eee;
    border-radius: 5px;
	background-color:#eee;
}

.avatar{
	margin-top:2px;
	width:110px;
	height: 80px;
}

.price{
	background-color:#5cb85c;
}

.small-block1{
	float:left;
	width:30%;
	padding-top:5px;
}

.small-block2{
	padding-top:10px;
	padding-left:10px;
	padding-right:5px;
	padding-bottom:5px;
	/*padding-left: 105px;*/
}

.small-block3{
	/*margin-top:-235px;*/
	/*margin-top:-153px;*/
	margin-top:-16%;
	/*width:150px;*/
	/*width:266px;*/
	width:29.8%;
	height:50px;
	position:absolute;
	z-index:999;
	opacity: 0.8;
	padding-top: 7px;
	padding-left: 5px;
}

.big-white{
	color:white;
	font-size: 25px;
	padding-top:25px;
	text-shadow: 0 -1px 0 rgba(0,0,0,.25);
}

.small-grey{
	color:#626060;
	font-size: 14px;
}

form.form-signin{
	width:500px;
	margin-left:35%;
	margin-top:150px;
	padding: 55px;
	background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
}

form.form-signin > input{
	margin-bottom:10px;
}

form.form-signin > select{
	margin-bottom:10px;
}


 /* for comment block*/
.col-md-8 {
	background-color: white;
	padding-top: 50px;
	width: 100%;
	border: 1px solid rgb(207, 207, 207);
	border-radius: 5px;
}
div.comments div.form-group{
/*	padding-top: 25px;*/
}

div.comments div.avatar{
	float:left;
	width:15%;
}
div.comments div.avatar img{
	width:95px;
	height:95px;
}
div.comments div.form-group{
	float:left;
	width:85%;

}

div.comments div.comment{
	padding-left: 50px;
	padding-right: 50px;
}

img.slider{
	padding-top: 50px;
}

button.active{
	width: 100%;
}