.form-control {
    border-radius: 0px;
}
.form-control:focus {
    border-color: #5cb85c;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0 white, 0 0 0 white;
    box-shadow: inset 0 0 0 white, 0 0 0 white;
    border-radius: 0px;
}

li.for-form>input.form-control, li.for-form>select.form-control{
    float:left;
    width:20%;
}

ul.navbar-nav {
    width:100%;
}

li.for-form{
    padding-top:8px;
    padding-left: 137px;
}

.carousel-caption>h1{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 95px;
    text-shadow: 1px 1px 2px black, 0 0 1em black; /* Параметры тени */
}



.col-md-5 {
    width: 31.666667%;
    padding-top: 5px;
}

.row {
    margin-right: -77px;
    margin-left: -15px;
}

img.img-responsive{
    display:inline-block;
    position:relative;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 1.2);
    background-color: #000;
    opacity: 0.8;
    top: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    -ms-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

img.img-responsive:hover{
    opacity: 1;
    cursor: pointer;
}

span.img-responsive {
    display:inline-block;
    position:absolute;
    top:30px;
    right: 16px;

    /* Оформление текста */
    color:#FFF;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight: bold;

    /* Фон */
    background-color:rgba(0,0,0,.4);
    padding:10px 30px;
    text-shadow: 1px 1px 2px black, 0 0 1em black; /* Параметры тени */
}